<div class="row">
    <div class="col col-lg-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Article</th>
                    <th scope="col">Link to Article</th>
                    <th scope="col">Save Article</th>
                </tr>
            </thead>
            <tbody>
                {{#each articles}}

                <tr class="articleRow">
                    <td>{{this.title}}</td>
                    <td><a class="btn btn-success links" href='https://www.sciencedaily.com{{this.link}}'
                            target=" _blank" role="button">Article Link</a></td>
                    <td><button data-id="{{this.id}}" class="btn btn-success save" role="button">Save Article</button>
                    </td>
                </tr>

                {{/each}}

            </tbody>
        </table>
    </div>
</div>