<div class="row">
    <div class="col col-lg-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Article</th>
                    <th scope="col">Link to Article</th>
                    <th scope="col">Unsave Article</th>
                    <th scope="col">Article Notes</th>
                </tr>
            </thead>
            <tbody>
                {{#each saved}}

                <tr class="articleRow">
                    <td>{{this.title}}</td>
                    <td><a class="btn btn-success links" href='https://www.sciencedaily.com{{this.link}}'
                            target=" _blank" role="button">Article Link</a></td>

                    <td>
                        <form action="/unsave" method="PUT" id="unsave-article">
                            <input type="hidden" name="id" value={{this._id}}>
                            <button class="btn btn-success save" type="submit">UnSave Article</button>
                        </form>
                    </td>
                    <td>
                        <button value="{{this.id}}" class="btn btn-success addNote" role="button">Add/Edit Note</button>
                    </td>
                </tr>

                {{/each}}

            </tbody>
        </table>
    </div>
</div>