.background {
    background-image: url('/images/techimage.jpg');
    background-size: cover;
    height: 500px;
}
.siteName {
    color: white;
}
.home {
    color: white;
}

.btn {
    margin-top: -45px;
    margin-right: 10px;
}


h1 {
    text-align: center;
}

.tableHead {

}

.table td {
    padding: 20px;
}